@import '../variables';

.product-single {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;

  &__photo {
    width: 50%;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  &__text {
    width: 50%;
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__information {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    font-size: 15px;
  }

  &__rating {
    span {
      color: $orange;
      font-weight: 900;
    }
  }

  &__category {
    span {
      font-weight: 700;
    }
  }

  &__ingredients {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
    margin-bottom: 20px;

    ul {
      display: flex;
      text-align: center;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();

        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__price {
    font-weight: bold;
    font-size: 25px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

.single-loading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 25px;
}